# Exported from Render on 2025-12-01T13:47:27Z

version: "1"

projects:
  - name: My project
    environments:
      - name: Production
        services:
          - type: web
            name: qr-restaurant-backend
            env: node
            plan: free
            region: oregon
            buildCommand: npm install && npm run build
            startCommand: npm run start
            envVars:
              - key: NODE_ENV
                value: production
              - key: DATABASE_URL
                fromDatabase:
                  name: qr-restaurant-db
                  property: connectionString
              - key: JWT_SECRET
                sync: false
              - key: JWT_REFRESH_SECRET
                sync: false
              - key: CORS_ORIGIN
                sync: false
              - key: VAPID_PUBLIC_KEY
                sync: false
              - key: VAPID_PRIVATE_KEY
                sync: false
              - key: VAPID_SUBJECT
                sync: false
              - key: APP_DOMAIN
                sync: false
            autoDeployTrigger: commit

        databases:
          - name: qr-restaurant-db
            plan: free
            databaseName: qr_restaurant
            user: qr_restaurant_user
